<body>
<%- include('../partials/NavBar') %>
<h1><center>Posts</center></h1>
<link href="css/PostsStylesheet.css" rel="stylesheet" type="text/css">

<!--<form action=<%=Sec%> method="GET" id="ReLoad">-->

<p> Make Your Post Here </p>
<form action="/makepost" method="POST">
  <input type="PostBody" name="PostBody" placeholder="PostBody" >
  <p></p>
  <input type="tag1" name="tag1" placeholder="tag 1" >
  <input type="tag2" name="tag2" placeholder="tag 2" >
  <p></p>
  <input type="submit">
</form>
<p></p>

<!-- This is the posts -->
<% feedTo.forEach(thing => { 
	var i = thing.split(',');
	%>
	<div class="post-container">
	  <div class="post-timestamp">
		 <div class="post-name"><%=i[0]%></div>
		 <div class="post-date"><%=i[2]%></div>
	  </div>
	  <div class="post-content">
		<p><%=i[3]%></p>
	  </div>
	  <div class="post-stats">
		<p>stats</p>
	  </div>
	</div>
	<p></p>
<% }); %>
</body>
